.home-outside{
    background-color: white !important;
    height: 100vh;
    color: black;
}

.home-outside.dark-theme {
    background-color: black !important;
    color: white;
  }
  
  .home-outside.light-theme {
    background-color: white !important;
    color: black;
  }
  